@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Raleway:wght@600;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.greenraleway {
  color: rgb(1, 156, 1);
  font-family: "Raleway", sans-serif;
}
.yellowraleway {
  color: #e2b500;
  font-family: "Raleway", sans-serif;
}

/* contact us section starts */
.signin {
  padding: 25px 0;
}

.form1 {
  background-color: #fff;
  width: 70vw;
  margin: 20px auto;
}

.inrow {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.inrow input {
  position: absolute;
  width: 19vw;
  height: 3.5vw;
  color: rgb(1, 156, 1);
  font-family: "Merriweather", serif;
  font-weight: 100;
  font-size: 1.3vw;
  border: none;
}

.inrow input:focus {
  outline: none;
  /* IMPORTANT */
}

.name {
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 25vw;
  height: 3.7vw;
  background-color: white;
}

.phone {
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 25vw;
  height: 3.7vw;
  background-color: white;
}

.apple {
  margin: 1.14vw 2vw;
  font-size: 1.4rem;
  color: rgb(1, 156, 1);
}

.email {
  position: relative;
  margin-right: 0px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 3.7vw;
  width: 56.35vw;
  margin: 2vw 6.95vw;
  background-color: white;
}

.email input {
  position: absolute;
  color: rgb(1, 156, 1);
  width: 47vw;
  font-family: "Merriweather", serif;
  font-weight: 100;
  height: 3.5vw;
  font-size: 1.3vw;
  border: none;
}

.email input:focus {
  outline: none;
}

.message textarea {
  position: absolute;
  width: 47vw;
  margin: 2vh 0vh;
  font-family: "Merriweather", serif;
  height: 10.5vw;
  font-size: 1.4vw;
  border: none;
  color: rgb(1, 156, 1);
}

.message textarea:focus {
  outline: none;
}

.message {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 56.35vw;
  margin: 2vw 6.95vw;
  height: 13vw;
  background-color: white;
}

section {
  margin-top: 4vw;
  position: relative;
  top: 80px;
}

.form1 ::placeholder {
  font-weight: 400;
  font-family: system-ui;
  color: #e2b500;
}

.blue {
  color: darkslategray;
  font-weight: 500;
}

.btnS {
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  display: block;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 2.7vw;
  color: #e2b500;
  font-size: 1.6vw;
  background: white;
  width: 10vw;
  margin: 0vw auto;
}

.btnS:hover {
  color: white;
  background: rgb(1, 156, 1);
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fn {
  position: relative;
  margin-right: 0px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 7vh;
  width: 56.35vw;
  margin: 3.4vh 13vh;
  background-color: white;
}

.deeppink {
  color: black;
}

/* Header section starts */
.sec_header::after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(decoration.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  /* bottom: -105px; */
  left: 0;
}

.sec {
  margin-top: 20px;
  margin-bottom: 4rem;
}
.sec_header h1 {
  color: rgb(1, 156, 1);
  text-align: center;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}
/* Header section ends */

/* contact us section ends */
/* footer section ends */
.footercontainer {
  max-width: 1170px;
  margin: auto;
}

.footerrow {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: 500;
  color: rgb(1, 156, 1);
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(1, 156, 1);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(1, 156, 1);
  font-weight: 400;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: black;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: transparent;
  margin-right: 10px;
  margin: 0 10px 20px 0;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  color: black;
  border: 1px solid black;
  line-height: 40px;
}

.footer-col .social-links a:hover {
  color: white;
  border: 1px solid rgb(1, 156, 1);
  background-color: rgb(1, 156, 1);
}

ul {
  list-style: none;
}

.footer {
  line-height: 1.5;
  background-color: #f0f0f0;
  padding: 70px 0;
  margin-top: 4vw;
  position: relative;
  top: 80px;
  font-family: "Raleway";
}

/* Responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* footer section ends */
/* copyright starts */
.high {
  font-size: larger;
  color: black;
}

.high span {
  color: rgb(1, 156, 1);
}

.copyright {
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px 20px;
  position: relative;
  top: 80px;
  font-family: "Raleway";
}

.curs {
  font-family: cursive;
}

.curs span {
  color: rgb(1, 156, 1);
}

/* copyright ends */

/* media queries */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .form1 {
    width: 100vw;
    margin: 0px auto;
  }

  .apple {
    margin: 2.22vw 2vw;
  }

  .btnS {
    height: 4.7vw;
    font-size: 2.3vw;
    width: 16vw;
  }

  .email {
    margin-right: 0px;
    height: 6.7vw;
    width: 70vw;
    margin: 1vw auto;
  }

  .email input {
    width: 57vw;
    height: 6.5vw;
    font-size: 2.3vw;
  }

  .message {
    height: 17vw;
    width: 70vw;
    margin: 2vw auto;
  }

  .message textarea {
    width: 57vw;
    height: 14vw;
    font-size: 2.4vw;
  }

  .inrow {
    flex-direction: column;
  }

  .name {
    margin-right: 0px;
    height: 6.7vw;
    width: 70vw;
    margin: 0vw auto;
    margin-bottom: 1vw;
  }

  .phone {
    margin-right: 0px;
    height: 6.7vw;
    width: 70vw;
    margin: 1vw auto;
  }

  .inrow input {
    width: 57vw;
    height: 6.5vw;
    font-size: 2.3vw;
  }
}

@media only screen and (max-width: 600px) {
  .form1 {
    width: 100vw;
    margin: 0px auto;
  }

  .apple {
    font-size: 16px;
    margin: 2.22vw 2vw;
  }
  .btnS {
    height: 6.7vw;
    font-size: 16px;
    width: 21vw;
  }

  .email {
    margin-right: 0px;
    height: 10vw;
    width: 85%;
    margin: 1vw auto;
  }

  .email input {
    width: 57vw;
    height: 6.5vw;
    font-size: 16px;
    margin: 1vw 2vw;
  }

  .message {
    height: 23vw;
    width: 85%;
    margin: 2vw auto;
  }

  .message textarea {
    width: 61vw;
    font-size: 16px;
    margin: 1vw 2vw;
    height: 17vw;
  }

  .inrow {
    flex-direction: column;
  }

  .name {
    margin-right: 0px;
    height: 10vw;
    width: 85%;
    margin: 0vw auto;
    margin-bottom: 1vw;
  }

  .phone {
    margin-right: 0px;
    height: 10vw;
    width: 85%;
    margin: 1vw auto;
  }

  .inrow input {
    width: 57vw;
    height: 7.7vw;
    font-size: 16px;
    margin: 1vw 2vw;
  }
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  color: transparent;
  font-family: cursive;
  font-size: 30px;
  -webkit-text-stroke: 1.2px black;
  margin: auto;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

#check:checked ~ ul {
  top: 80px;
}

nav .ul {
  float: right;
  margin: 19px 0;
}

nav .ul .li {
  display: inline-block;
  line-height: 40px;
  margin: 0 20px;
}

.checkbtn {
  float: right;
  color: rgb(1, 156, 1);
  line-height: 80px;
  font-size: 30px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.a {
  position: relative;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(1, 156, 1);
  font-size: 1.4vw;
  letter-spacing: 0.5px;
}

.a::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.4s ease-in-out;
}

.a:hover {
  color: black;
}

.a:hover::after {
  width: 100%;
}

nav img {
  height: 4vw;
  border-radius: 50%;
}

.donate {
  border-radius: 7px;
  padding: 0px 10px;
  font-size: 1.4vw;
  cursor: pointer;
  border: 2px solid black;
  background-color: transparent;
  color: black;
}

.btnD {
  color: black;
  text-decoration: none;
}

.btnD:hover {
  color: white;
}

.donate:hover {
  border: 2px solid rgb(1, 156, 1);
  outline: none;
  color: white;
  background-color: rgb(1, 156, 1);
}

.logo span {
  color: rgb(1, 156, 1);
  font-size: larger;
  font-weight: 900;
}

.wholelogo {
  display: flex;
  gap: 2px;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 25px;
    padding-left: 35px;
  }

  nav .ul .li a {
    font-size: 16px;
  }

  nav .ul .li {
    margin: 0 8px;
  }

  .donate {
    font-size: 1.7vw;
  }

  .a {
    font-size: 1.9vw;
  }
}

@media (max-width: 1100px) and (min-width: 953px) {
  nav .ul .li {
    margin: 0 15px;
  }
  label.logo {
    font-size: 25px;
    padding-left: 50px;
  }

  .a {
    font-size: 1.6vw;
  }

  .donate {
    font-size: 1.6vw;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  .a {
    font-size: 17px;
    color: white;
  }

  .donate {
    font-size: 17px;
    border: 2px solid white;
    color: white;
    padding: 3px 14px;
  }

  .donate:hover {
    color: rgb(1, 156, 1);
    background-color: white;
  }

  .ul {
    position: fixed;
    width: 100%;
    height: 340px;
    background: rgb(1, 156, 1);
    top: -100%;
    transition: all 0.5s;
    text-align: center;
  }

  nav .ul {
    margin: 0px;
  }

  nav .ul .li {
    margin: 20px 0;
    line-height: 30px;
    display: block;
  }

  nav .ul .li a {
    font-size: 20px;
    color: white;
  }
}
