/* Google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Raleway:wght@600;800&display=swap");
/* font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */

/* General CSS */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.logo {
  color: transparent;
  font-family: cursive;
  font-size: 30px;
  -webkit-text-stroke: 1.2px black;
  margin: auto;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

#check:checked ~ ul {
  top: 80px;
}

nav .ul {
  float: right;
  margin: 19px 0;
}

nav .ul .li {
  display: inline-block;
  line-height: 40px;
  margin: 0 20px;
}

.checkbtn {
  float: right;
  color: rgb(1, 156, 1);
  line-height: 80px;
  font-size: 30px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.a {
  position: relative;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(1, 156, 1);
  font-size: 1.4vw;
  letter-spacing: 0.5px;
}

.a::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.4s ease-in-out;
}

.a:hover {
  color: black;
}

.a:hover::after {
  width: 100%;
}

nav img {
  height: 4vw;
  border-radius: 50%;
}

.donate {
  border-radius: 7px;
  padding: 0px 10px;
  font-size: 1.4vw;
  cursor: pointer;
  border: 2px solid black;
  background-color: transparent;
  color: black;
}

.btnD {
  color: black;
  text-decoration: none;
}

.btnD:hover {
  color: white;
}

.donate:hover {
  border: 2px solid rgb(1, 156, 1);
  outline: none;
  color: white;
  background-color: rgb(1, 156, 1);
}

.logo span {
  color: rgb(1, 156, 1);
  font-size: larger;
  font-weight: 900;
}

.wholelogo {
  display: flex;
  gap: 2px;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 25px;
    padding-left: 35px;
  }

  nav .ul .li a {
    font-size: 16px;
  }

  nav .ul .li {
    margin: 0 8px;
  }

  .donate {
    font-size: 1.7vw;
  }

  .a {
    font-size: 1.9vw;
  }
}

@media (max-width: 1100px) and (min-width: 953px) {
  nav .ul .li {
    margin: 0 15px;
  }
  label.logo {
    font-size: 25px;
    padding-left: 50px;
  }

  .a {
    font-size: 1.6vw;
  }

  .donate {
    font-size: 1.6vw;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  .a {
    font-size: 17px;
    color: white;
  }

  .donate {
    font-size: 17px;
    border: 2px solid white;
    color: white;
    padding: 3px 14px;
  }

  .donate:hover {
    color: rgb(1, 156, 1);
    background-color: white;
  }

  .ul {
    position: fixed;
    width: 100%;
    height: 340px;
    background: rgb(1, 156, 1);
    top: -100%;
    transition: all 0.5s;
    text-align: center;
  }

  nav .ul {
    margin: 0px;
  }

  nav .ul .li {
    margin: 20px 0;
    line-height: 30px;
    display: block;
  }

  nav .ul .li a {
    font-size: 20px;
    color: white;
  }
}

.greenraleway {
  color: rgb(1, 156, 1);
  font-family: "Raleway", sans-serif;
}
.yellowraleway {
  color: #e2b500;
  font-family: "Raleway", sans-serif;
}

/* restros starts */
.ngocard {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  font-family: "Raleway";
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgb(1, 156, 1);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.ngoimg-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.ngoimg1 {
  background-image: url(https://imgs.search.brave.com/AB6VIMz98yywmY6zbWkMHelQOKWeCqZSxBdyi92Pp3w/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/Z3JlYXRub25wcm9m/aXRzLm9yZy9pbWFn/ZXMvbG9nb3Mvc2F2/ZS10aGUtY2hpbGRy/ZW4tbG9nby5qcGc);
}
.ngoimg2 {
  background-image: url(https://imgs.search.brave.com/L8_r4mP3tuqg0xf8xYN0_yCXtfkExuLgLH4FOdRQ-AI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi83LzcxL0lu/dGVybmF0aW9uYWxf/UmVzY3VlX0NvbW1p/dHRlZV9Mb2dvLnN2/Zy8yMjBweC1JbnRl/cm5hdGlvbmFsX1Jl/c2N1ZV9Db21taXR0/ZWVfTG9nby5zdmcu/cG5n);
}
.ngoimg3 {
  background-image: url(https://imgs.search.brave.com/cGMEatmwAqbZR0wpuQoE3V4fhENIcgmt0aP_6b-03gA/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9kMWg3/OXpsZ2hmdDJ6cy5j/bG91ZGZyb250Lm5l/dC91cGxvYWRzLzIw/MTkvMDcvMTIyMi03/Njh4OTA0LnBuZw);
}
.ngoimg4 {
  background-image: url(https://imgs.search.brave.com/FV7wOxAHEB6HDwjgPugLXD4q59COAmotj0JJMkAQkc0/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi9kL2QzL0Rp/cmVjdC1SZWxpZWYt/U3F1YXJlLnBuZy8y/MjBweC1EaXJlY3Qt/UmVsaWVmLVNxdWFy/ZS5wbmc);
}
.ngoimg-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ngocontent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.ngocontent .ngodetail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.ngocontent .ngodetail h2 {
  color: #444;
  font-size: 1.6em;
  font-weight: bolder;
}

.ngocontent .ngodetail span {
  color: #e2b500;
  font-weight: bold;
}

.ngocards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 60px;
}

section {
  padding: 25px;
  position: relative;
  top: 80px;
}

section h1 {
  color: rgb(1, 156, 1);
  text-align: center;
  font-family: "Raleway", sans-serif;
}

/* restros ends */
/* Header section starts */
.sec_header::after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(decoration.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
}

.sec {
  margin-top: 20px;
  margin-bottom: 4rem;
}
.sec_header h1 {
  color: rgb(1, 156, 1);
  text-align: center;
  font-size: 30px;
  font-family: "Raleway";
}
/* Header section ends */
/* footer section starts */
.footercontainer {
  max-width: 1170px;
  margin: auto;
}

.footerrow {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: 500;
  color: rgb(1, 156, 1);
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(1, 156, 1);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(1, 156, 1);
  font-weight: 400;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: black;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  margin: 0 10px 20px 0;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  border: 1px solid black;
  color: black;
  line-height: 40px;
}

.footer-col .social-links a:hover {
  color: white;
  border: 1px solid rgb(1, 156, 1);
  background-color: rgb(1, 156, 1);
}

ul {
  list-style: none;
}

.footer {
  line-height: 1.5;
  background-color: #f0f0f0;
  padding: 70px 0;
  margin-top: 4vw;
  position: relative;
  top: 80px;
  font-family: "Raleway";
}

/* Responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* footer section ends */
/* copyright starts */
.high {
  font-size: larger;
  color: black;
}

.high span {
  color: rgb(1, 156, 1);
}
.copyright {
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-family: "Raleway";
  position: relative;
  top: 80px;
}
/* copyright ends */
